
body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/766/original/SandGravel.png.jpg?1677818697);
  background-repeat: no repeat;
  background-size:cover;
  overflow: hidden;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Poppins', sans-serif;

}

header {
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin: 0 auto;
  padding: 20px; 
  opacity: 0.8;
 
}  

#city-input {
 margin-left:100px;
}

.link {
  text-align: center;
  
}

.current-info {
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 800px;
  box-sizing: border-box;
  background-color: black;
  opacity: 0.8;
  padding: 20px;
}
 

.time {
  font-size: 40px;
}

.city {
  font-size: 40px;
}

.current-date {
  font-size:25px ;
}

.others {
  padding-top:10px;
}