* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/766/original/SandGravel.png.jpg?1677818697);
  background-repeat: no repeat;
  background-size:cover;
  overflow: hidden;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  

}

.date {
  background-color: rgb (24,24,27,20);
}

.current-info {
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 800px;
  display: block;
  padding: 20px;
  background: black;
  opacity:0.8; 
  font-size: 15px;
  font-weight: 70;
}

.time {
  font-size: 40px;
}

.city {
  font-size: 40px;
}

.current-date {
  font-size:25px ;
}

.others {
  padding-top:10px;
}