* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/766/original/SandGravel.png.jpg?1677818697);
  background-repeat: no repeat;
  background-size:cover;
  overflow: hidden;
  background-position: center center;
  background-attachment: fixed;
  max-width: 800px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  

}

.date {
  background-color: rgb (24,24,27,20);
}

.current-info {
  color: white;
  border: 1px solid white;
  border-radius: 15px;;
  margin: 100px 100px;
  max-width: 600px;
  padding: 20px;
  background: black;
  opacity:0.7;
}